<div class="footer-info">
    <div class="socials-info">
        <a href="/instagram"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="/facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="/linkedin"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="brand-info">
        &copy; WanderLust Private Limited
    </div>
    <div class="rights-info">
        <a href="">Privacy</a>
        <a href="">Terms</a>
    </div>
</div>