body{
    font-family: "Pacifico", cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}
.fa-solid{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: black !important;
}

.footer-info a{
    text-decoration: none;
    color: black;
}

.footer-info{
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
}
.socials-info i{
    font-size: 1.2rem;
    margin-right: 0.7rem;
}

.rights-info a:hover{
    text-decoration: underline;
}

.row{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    flex-wrap: wrap !important;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.card{
    margin-bottom: 1rem;
    border: none !important;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.add{
    background-color: #fe424d !important;
    border: none !important;
}

.new-form{
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.show-img{
    height: 40vh;
    width: 50vh !important;
}

.edit_del{
    display: flex;
    flex-direction: row;
}
.delete{
    border: none !important;
    background-color: black !important;
    margin-left: 1.5rem;
}

#map {
    height: 400px;
    width: 100vh;
}